<% include ./template/main_header %>
<% include ./template/main_top_navigation %>
      <!-- /top navigation -->
      
      <!-- page content -->
      <div class="right_col" role="main">
        <div class=>
          <div class="page-title">
            <h3 style="text-align:center"><b>Thêm mới phần thi vào đề: 
              <% if (typeof readingtest!== "undefined"){%>
                <%=readingtest.name%> 
                <%} else {%> 
                <%=listeningtest.name%> 
                <%}%>
            </b></h3>
            <div class="title_left">
              
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_content">
                  <br />
                  <form class="form-horizontal form-label-left" action="/check" method="POST">
                    <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username"> Types<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="parttype" class="form-control" required>
                          <option value="UL" selected>Matching heading</option>
                          <option value="UL">True/ False/ Not Given</option>
                          <option value="UL">Matching Paragraph Info</option>
                          <option value="IN">Summary Completion</option>
                          <option value="IN">Sentence Completion</option>
                          <option value="RD">MCQ </option>
                          <option value="CB">List Section </option>
                          <option value="RD">Choosing Title</option>
                          <option value="UL">Categorisation</option>
                          <option value="UL">Matching Sentence Ending</option>
                          <option value="IN">Table</option>
                          <option value="IN"> Flow Chart </option>
                          <option value="IN">Diagram Completion</option>
                          <option value="IN">Short Answer </option>
                          <option value="FB">Fill In The Blank</option>
                        </select>
                      </div>
                    </div>
                    </form>
                    <div id="UL">
                      <form class="form-horizontal form-label-left" action="" method="POST">
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" > Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="content" class="form-control col-md-7 col-xs-12" rows="10" name="name"  type="text"/> 
                        </div>
                      </div>
                      <input id="" class="form-control col-md-7 col-xs-12" rows="10" name="type" style="display: none" type="text" value="UL" />
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" > Construction<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="content" class="form-control col-md-7 col-xs-12"  rows="4" name="cuecards"  type="text" disabled>
Type: Unorder List 
Nhập vào danh sách các câu hỏi, tách nhau bởi dấu xuống dòng 
Nhập vào danh sách các đáp án tương ứng, tách nhau bởi dấu xuống dòng 
Nhập vào danh sách các lựa chọn, tách nhau bởi dấu xuống dòng  
                          </textarea>
                        </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" > Content<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="content" class="form-control col-md-7 col-xs-12" rows="10" name="content"  type="text"> </textarea>
                          </div>
                        </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" > Selection List<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12" id="selectlist">
                            <div class="input-group">
                                <input type="text" class="form-control" name="ulslist0">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="add_s_ul"> <i class="fa fa-plus"></i> </button>
                              </span>
                            </div>
                            </div>
                      </div>

                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" > Question List<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12" id="questionlist">
                          <div class="input-group">
                              <input type="text" class="form-control" name="ulqlist0">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-primary" id="add_q_ul"> <i class="fa fa-plus"></i> </button>
                            </span>
                          </div>
                          </div>

                      </div>

                      <div class="item form-group" >
                        <label class="col-sm-3 control-label">Answer List</label>

                        <div class="col-md-6 col-sm-6 col-xs-12" id="answerlist">
                          <div class="input-group">
                              <input type="text" class="form-control" name="ulalist0">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-primary" id="add_a_ul"> <i class="fa fa-plus"></i> </button>
                            </span>
                          </div>
                          <!-- <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-danger" > <i class="fa fa-close"></i> </button>
                            </span>
                          </div> -->
                        </div>

                      
                    </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" > Explanation<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="content" class="form-control col-md-7 col-xs-12" rows="10" name="explanation"  type="text"> </textarea>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button class="btn btn-primary" type="button"><a href="" style="color:white ">Cancel</a> </button>
                        <button class="btn btn-primary" type="reset"><a style="color:white ">Reset</a></button>
                        <button type="submit" class="btn btn-success"><a style="color:white ">Save and back</a> </button>
                      </div>
                    </div>
                  </form>
                    </div>

                    <div id="IN">
                        <form class="form-horizontal form-label-left" action="" method="POST">
                        <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" > Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="content" class="form-control col-md-7 col-xs-12" rows="10" name="name"  type="text"/> 
                          </div>
                        </div>
                        <input id="" class="form-control col-md-7 col-xs-12" rows="10" name="type" style="display: none" type="text" value="IN" />
                        <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" > Construction<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="cuecards1"  type="text" disabled>
Type: Input 
Nhập vào nội dung câu hỏi 
Nhập vào đáp án  
                            </textarea>
                          </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Content<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="content1"  type="text"> </textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Question<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="question"  type="text"> </textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Answer<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="answer"  type="text"> </textarea>
                            </div>
                          </div>
                        <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" > Explanation<span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="explanation"  type="text"> </textarea>
                          </div>
                        </div>
                        <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button class="btn btn-primary" type="button"><a href="" style="color:white ">Cancel</a> </button>
                        <button class="btn btn-primary" type="reset"><a style="color:white ">Reset</a></button>
                        <button type="submit" class="btn btn-success"><a style="color:white ">Save and back</a> </button>
                      </div>
                    </div>
                  </form>
                      </div>

                      <div id="RD">
                          <form class="form-horizontal form-label-left" action="" method="POST">
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="content1" class="form-control col-md-7 col-xs-12" rows="1" name="name"  type="text"/> 
                            </div>
                          </div>
                          <input id="" class="form-control col-md-7 col-xs-12" rows="10" name="type" style="display: none" type="text" value="RD" />
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Construction<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="content" class="form-control col-md-7 col-xs-12" rows="5" name="construction2"  type="text" disabled>
Type: Radio 
Nhập 1 câu hỏi 
Nhập đáp án 
Nhập danh sách các lựa chọn, tách nhau bởi dấu xuống dòng
                              </textarea>
                            </div>
                          </div>
                          <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" > Question<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="question"  type="text"> </textarea>
                              </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Select List<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12" id="selectlist_rd">
                              <div class="input-group">
                                  <input type="text" class="form-control" name="slist0">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-primary" id="add_s_rd"> <i class="fa fa-plus"></i> </button>
                                </span>
                              </div>
                              </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Answer<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="content" class="form-control col-md-7 col-xs-12" rows="3" name="answer"  type="text"/>
                            </div>
                          </div>
                          
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > Explanation<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="explanation"  type="text"> </textarea>
                            </div>
                          </div>
                          <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button class="btn btn-primary" type="button"><a href="" style="color:white ">Cancel</a> </button>
                        <button class="btn btn-primary" type="reset"><a style="color:white ">Reset</a></button>
                        <button type="submit" class="btn btn-success"><a style="color:white ">Save and back</a> </button>
                      </div>
                    </div>
                  </form>
                        </div>

                        <div id="CB">
                            <form class="form-horizontal form-label-left" action="" method="POST">
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" > Name <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="content" class="form-control col-md-7 col-xs-12"  name="name"  type="text"/> 
                              </div>
                            </div>
                            <input id="" class="form-control col-md-7 col-xs-12" name="type" style="display: none" type="text" value="CB" />
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" > Construction<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="cuecards"  type="text" disabled>
Type: Combo Box 
Nhập vào 1 câu hỏi 
Nhập vào đáp án theo thứ tự lựa chọn, tách nhau bởi dấu cách [spacebar]
Nhập vào danh sách các lựa chọn, tách nhau bởi dấu xuống dòng
                                </textarea>
                              </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" > Question<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="question"  type="text"> </textarea>
                                </div>
                            </div>
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" > Select List<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12" id="selectlist_cb">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="slist0">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="add_s_cb"> <i class="fa fa-plus"></i> </button>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" > Answer<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <textarea id="content" class="form-control col-md-7 col-xs-12" rows="10" name="answer"  type="text"> </textarea>
                                </div>
                            </div>
                            
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" > Explanation<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="explanation"  type="text"> </textarea>
                              </div>
                            </div>
                            <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button class="btn btn-primary" type="button"><a href="" style="color:white ">Cancel</a> </button>
                        <button class="btn btn-primary" type="reset"><a style="color:white ">Reset</a></button>
                        <button type="submit" class="btn btn-success"><a style="color:white ">Save and back</a> </button>
                      </div>
                    </div>
                  </form>
                          </div>

                          <div id="FB">
                              <form class="form-horizontal form-label-left" action="" method="POST">
                              <input id="" class="form-control col-md-7 col-xs-12" name="type" style="display: none" type="text" value="FB" />
                              <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" > Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input id="content" class="form-control col-md-7 col-xs-12" rows="10" name="name"  type="text"/> 
                                </div>
                              </div>
                              <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" > Construction<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="cuecards3"  type="text" disabled>
Type: Fill in the Blank 
Nhập vào 1 đoạn văn bản, đánh dấu các đoạn cần điền bằng cặp ngoặc vuông [ ] 
Ví dụ: che từ "you" trong câu "I love you": i love [you]    
                                  </textarea>
                                </div>
                              </div>
                              <div class="item form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" > Content<span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="content" class="form-control col-md-7 col-xs-12" rows="10" name="content"  type="text"> </textarea>
                                  </div>
                                </div>
                              <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" > Explanation<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <textarea id="content" class="form-control col-md-7 col-xs-12" rows="3" name="explanation"  type="text"> </textarea>
                                </div>
                              </div>
                              <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button class="btn btn-primary" type="button"><a href="" style="color:white ">Cancel</a> </button>
                        <button class="btn btn-primary" type="reset"><a style="color:white ">Reset</a></button>
                        <button type="submit" class="btn btn-success"><a style="color:white ">Save and back</a> </button>
                      </div>
                    </div>
                  </form>
                            </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      
      <script>
          var _type = document.getElementById("parttype");
          $('#UL').show();
          $('#CB').hide();
          $('#IN').hide();
          $('#RD').hide();
          $('#FB').hide();
          document.getElementById("parttype").addEventListener("change", student_timetable_function); 
          function student_timetable_function() {
              var x = document.getElementById("parttype");
              //$("#UL").hide();
              $("#UL").hide();
              $("#CB").hide();
              $("#IN").hide();
              $("#RD").hide();
              $("#FB").hide();
              $("#"+x.value).show();
          }
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
      <script>
          $(document).ready(function() {
            $("#add_q_ul").click(function() {
                var lastField = $("#questionlist div:last");
                var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
                var fieldWrapper = $("<div class=\" input-group\" id=\"field\"/>");
                fieldWrapper.data("idx", intId);
                var fName = $("<input id=\"content\" class=\"form-control \" name=\"ulqlist" + intId + "\" type=\"text\"/>");
                //var fType = $("<select class=\"fieldtype\"><option value=\"checkbox\">Checked</option><option value=\"textbox\">Text</option><option value=\"textarea\">Paragraph</option></select>");
                //var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
                var removeButton = $("<span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-danger\" > <i class=\"fa fa-close\"></i> </button></span>");
                removeButton.click(function() {
                    $(this).parent().remove();
                });
                fieldWrapper.append(fName); 
                fieldWrapper.append(removeButton);
                $("#questionlist").append(fieldWrapper);
            });

            $("#add_a_ul").click(function() {
              var lastField = $("#answerlist div:last");
              var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
              var fieldWrapper = $("<div class=\" input-group\" id=\"field\"/>");
              fieldWrapper.data("idx", intId);
              var fName = $("<input id=\"content\" class=\"form-control \" name=\"ulalist" + intId + "\" type=\"text\"/>");
              //var fType = $("<select class=\"fieldtype\"><option value=\"checkbox\">Checked</option><option value=\"textbox\">Text</option><option value=\"textarea\">Paragraph</option></select>");
              //var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
              var removeButton = $("<span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-danger\" > <i class=\"fa fa-close\"></i> </button></span>");
              removeButton.click(function() {
                  $(this).parent().remove();
              });
              fieldWrapper.append(fName);
              // fieldWrapper.append(fType); 
              fieldWrapper.append(removeButton);
              $("#answerlist").append(fieldWrapper);
          });

          $("#add_s_ul").click(function() {
            var lastField = $("#selectlist div:last");
            var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
            var fieldWrapper = $("<div class=\" input-group\" id=\"field\"/>");
            fieldWrapper.data("idx", intId);
            var fName = $("<input id=\"content\" class=\"form-control \" name=\"ulslist" + intId + "\" type=\"text\"/>");
            //var fType = $("<select class=\"fieldtype\"><option value=\"checkbox\">Checked</option><option value=\"textbox\">Text</option><option value=\"textarea\">Paragraph</option></select>");
            //var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
            var removeButton = $("<span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-danger\" > <i class=\"fa fa-close\"></i> </button></span>");
            removeButton.click(function() {
                $(this).parent().remove();
            });
            fieldWrapper.append(fName);
            // fieldWrapper.append(fType); 
            fieldWrapper.append(removeButton);
            $("#selectlist").append(fieldWrapper);
          });

          $("#add_s_rd").click(function() {
            var lastField = $("#selectlist_rd div:last");
            var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
            var fieldWrapper = $("<div class=\" input-group\" id=\"field\"/>");
            fieldWrapper.data("idx", intId);
            var fName = $("<input id=\"content\" class=\"form-control \" name=\"rdslist" + intId + "\" type=\"text\"/>");
            //var fType = $("<select class=\"fieldtype\"><option value=\"checkbox\">Checked</option><option value=\"textbox\">Text</option><option value=\"textarea\">Paragraph</option></select>");
            //var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
            var removeButton = $("<span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-danger\" > <i class=\"fa fa-close\"></i> </button></span>");
            removeButton.click(function() {
                $(this).parent().remove();
            });
            fieldWrapper.append(fName);
            // fieldWrapper.append(fType); 
            fieldWrapper.append(removeButton);
            $("#selectlist_rd").append(fieldWrapper);
          });

          $("#add_s_cb").click(function() {
            var lastField = $("#selectlist_cb div:last");
            var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
            var fieldWrapper = $("<div class=\" input-group\" id=\"field\"/>");
            fieldWrapper.data("idx", intId);
            var fName = $("<input id=\"content\" class=\"form-control \" name=\"cbslist" + intId + "\" type=\"text\"/>");
            //var fType = $("<select class=\"fieldtype\"><option value=\"checkbox\">Checked</option><option value=\"textbox\">Text</option><option value=\"textarea\">Paragraph</option></select>");
            //var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
            var removeButton = $("<span class=\"input-group-btn\"><button type=\"button\" class=\"btn btn-danger\" > <i class=\"fa fa-close\"></i> </button></span>");
            removeButton.click(function() {
                $(this).parent().remove();
            });
            fieldWrapper.append(fName);
            // fieldWrapper.append(fType); 
            fieldWrapper.append(removeButton);
            $("#selectlist_cb").append(fieldWrapper);
          });

        });
        
      </script>  
<% include ./template/main_footer %>