<% include ./template/main_header3 %>
<% include ./template/main_top_navigation3 %>

      <!-- page content -->
      <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row tile_count">
          
        </div>
        <!-- /top tiles -->

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            
            <div class="x_panel">
              <div class="x_title">
                <h2 class="title"> <b> Thay đổi thông tin cá nhân người dùng </b></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" action="" method="POST">
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username"> Word <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="control-label col-md-6 col-sm-3 col-xs-12" for="first_name">
                        <center><%=vocab.word%> </center>
                      </label>
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Meanings <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="1,200"
                        data-validate-words="1,10" name="meaning" required="required" type="text" value="<%=vocab.meaning%>">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="examples"> Examples <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="examples" name="examples" required="required" class="form-control col-md-7 col-xs-12"
                        data-validate-length-range="1,200" value="<%=vocab.examples%>">
                    </div>
                  </div>
                  <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="synonyms"> Synonyms
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="synonyms" name="synonyms" class="form-control col-md-7 col-xs-12"
                        data-validate-length-range="1,200" value="<%=vocab.synonyms%>">
                    </div>
                  </div>
                
                
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                      <button class="btn btn-primary" type="button"><a href="." style="color:white ">Cancel</a> </button>
                      <button class="btn btn-primary" type="reset"><a style="color:white ">Reset</a></button>
                      <button type="submit" class="btn btn-success"><a style="color:white ">Save and back</a> </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
        <br />





      </div>
      <!-- /page content -->

      <!-- footer content -->
<% include ./template/main_footer3 %>