<% include ./template/main_header %>
<% include ./template/main_top_navigation %>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Điểm danh </h3>
              </div>
              
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-push-2"> 
              <form action="checkin/chitietdiemdanh" method="POST" role="form" enctype="multipart/form-data">
                  <legend>Điền nghĩa của từ vào ô trống</legend>
                  
                <!-- start project list -->
                <table class="table table-striped project text-center">
                  <tbody>
                    <% list_vocab.forEach((vocab)=>{%>
                    <tr>
                      <td>                       
                        <label for=""><%= vocab.word %></label>
                        <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="1,200"
                          data-validate-words="1,10" name="meaning" required="required" type="text">
                      </td>
                    </tr>
                    <%})%> 
                  </tbody>
                </table>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              

            </div>
          </div>
      </div>
      </div>
      </div>
      
      <!-- /page content -->

      <!-- footer content -->
      <% include ./template/main_footer %>