<% include ./template/main_header %>
<% include ./template/main_top_navigation %>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Điểm danh </h3>
              </div>
              
        </div>
        <%if(checkinlist.length) {%>
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-8 col-md-push-2"> 
                  <form class="form-horizontal form-label-left" action="" method="POST">
                    
                      <legend>Điền nghĩa của từ vào ô trống</legend>
                      
                    <!-- start project list -->
                    <table class="table table-striped project text-center">
                      <tbody>
                        <% checkinlist.forEach((vocab)=>{%>
                        <tr>
                          <td>
                            <label for=""><%= vocab.word %></label>
                          </td>
                          <td>
                              <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="1,200"
                              data-validate-words="1,10" name="meaning<%=vocab.word%>" required="required" type="text">
                          </td>
                          
                        </tr>
                        <%})%> 
                      </tbody>
                    </table>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">Submit</button> 
                    </div>
                  </form>
                  
    
                </div>
              </div>
          </div>
          <%}else{%>
            <h4 style="text-align: center">Bạn không có từ để học lại hôm nay ! Hãy <a href="/thietlapdanhsachhoc"><b>thêm từ</b></a> !</h4>
          <%}%>

      </div>
      </div>
      
      <!-- /page content -->

      <!-- footer content -->
      <% include ./template/main_footer %>