
<%include template/header %>
<body class="gst-home" data-animate-wow>
	<div id="page-container">
		<header data-sticky data-class-name="bg-blue" class="clearfix header1">
			<div class="content">
				<div class="logo">
					<a href="index8922.html?r=nav" title="Gia sư TOEIC">
						<img src="/static/RealEdu/images/logo.png" alt="Gia sư TOEIC Logo">
					</a>
				</div>
				<div class="logo-text">
					<a href="index8922.html?r=nav" title="Luyện thi TOEIC Online">
						<img src="/static/RealEdu/images/logo_text_nhu_co_giasu.png" alt="Luyện thi TOEIC Online">
					</a>
				</div>
				<div class="header__menu header__menu--desktop">
					<div data-sub-menu class="header__menu__left">
						<ul class="list-menu">
						</ul>
					</div>
					<div class="header__menu__right">
						<ul class="list-menu">
							<li class="list-menu__item login-link">
								<a href="/login"  title="Đăng nhập" data-form data-type-form="data-form-login"
									data-toggle="modal" >ĐĂNG NHẬP</a>
							</li>
							<li class="list-menu__item login-link">
								<a href="/register"  title="Đăng ký" > ĐĂNG KÝ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<article class="playfield " id="homepage-article">
			<main>
				<section class="banner">
					<h1 class="banner-titile">
						<span style="text-shadow: 0 0 7px rgba(10, 11, 10, 0.6);">Năm mới, Luyện thi TOEIC theo cách mới!</span>
					</h1>
					<div class="slider" data-banner-slider>
						<div class="col col-left" style="background-image: url(static/RealEdu/images/index/boy_bg_new_year.png);">
							<div class="inner"><img class="character" src="/static/RealEdu/images/index/boy.png" alt="character" />
								<div class="bubble bubble--1">
									<p>Hey Mimi, bạn có đang học Toeic trên Gia Sư Toeic không đấy? ^^</p>
								</div>
							</div>
						</div>
						<div class="col col-right" style="background-image: url(static/RealEdu/images/index/girl_bg_new_year.png);">
							<div class="inner"><img class="character" src="/static/RealEdu/images/index/girl.png" alt="character" />
								<div class="bubble bubble--2">
									<p>Có chứ! Mình đang đi du lịch mà vẫn thoải mái luyện TOEIC nè hihi</p>
								</div>
							</div>
						</div>
					</div><a class="link-dang-ki" href="/register" title="Đăng ký học thử miễn phí" data-toggle="modal"
						>Đăng ký học thử miễn phí</a>
				</section>
				<section class="utility" style="background-image: url(/static/RealEdu/images/index/couple_bg.png);">
					<div class="container">
						<div class="utility-bubble bubble-left">
							<h2 class="sec-title wow fadeInUp">Đề luyện tập<span> TOEIC</span> phong phú</h2>
							<p class="utility-desc wow fadeInUp">17+ đề thi thử TOEIC và 7000+ đề luyện tập cho bạn tha hồ luyện thi
							</p>
						</div><img class="img-responsive" src="/static/RealEdu/images/index/couple.png"
							alt="Đề luyện tập TOEIC phong phú" />
						<div class="utility-bubble bubble-right">
							<h2 class="sec-title wow fadeInUp">Đáp án có<span> giải thích</span> cặn kẽ</h2>
							<p class="utility-desc wow fadeInUp">Giúp bạn hiểu rõ vì sao đáp án này thì đúng còn đáp án kia thì sai
							</p>
						</div><a class="link-dang-ki wow fadeInUp" href="#" title="Đăng ký học thử miễn phí" data-toggle="modal"
							data-target="#dang-ki">Đăng ký học thử miễn phí</a>
					</div>
				</section>
				<section class="app" id="ung-dung">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h2 class="sec-title wow fadeInUp">Luyện thi TOEIC <span> thoải mái</span><span class="break-md"> mọi
										lúc mọi nơi</span> với<span> ứng dụng di động</span></h2><img class="img-responsive"
									src="static/RealEdu/images/index/boy_2.png"
									alt="Học thoải mái mọi lúc mọi nơi với ứng dụng di động" />
							</div>
							<div class="col-md-4 applink">
								<div class="row">
									<div class="col-xs-6 appstore">
										<img class="img-responsive wow fadeInUp" src="/static/RealEdu/images/index/iphone.png"
											alt="Apple iPhone" />
										<div><img class="img-responsive wow fadeInUp" style="width: 80%;"
												src="/static/RealEdu/images/index/qr_code_ios_app.jpg" alt="Iphone app QR code" />
										</div>
										<a href="https://itunes.apple.com/app/apple-store/id1225028717?pt=118607244&amp;ct=gst-home&amp;mt=8"
											target="_blank" title="Tải xuống từ App Store">
											<img class="img-responsive wow fadeInUp" src="/static/RealEdu/images/appstore.png"
												alt="Tải xuống từ App Store" />
										</a>
									</div>
									<div class="col-xs-6 ch-play">
										<img class="img-responsive wow fadeInUp" src="/static/RealEdu/images/index/samsung.png"
											alt="Samsung" />
										<div><img class="img-responsive wow fadeInUp" style="width: 80%;"
												src="/static/RealEdu/images/index/qr_code_android_app.png" alt="Android app QR code" />
										</div>
										<a href="https://play.google.com/store/apps/details?id=com.h2tech.giasutoeic&amp;referrer=utm_source%3Dgst%26utm_medium%3Dweb%26utm_campaign%3Dgst-home"
											target="_blank" title="Tải xuống từ Google Play">
											<img class="img-responsive wow fadeInUp" src="/static/RealEdu/images/googleplay.png"
												alt="Tải xuống từ Google Play" />
										</a>
									</div>
								</div>
							</div>
						</div><a class="link-dang-ki wow fadeInUp" style="margin-top: 30px;" href="/register"
							title="Đăng ký học thử miễn phí" data-toggle="modal" >Đăng ký học thử miễn phí</a>
					</div>
				</section>
				<section class="function-listing">
					<div class="container">
						<h2 class="sec-title wow fadeInUp">Gia sư Toeic có tất cả mọi thứ bạn cần<br>để luyện thi TOEIC hiệu quả
						</h2>
						<div class="function-list">
							<div class="row">
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_lo_trinh_hoc.png"
												alt="Lộ trình học giúp bạn tăng điểm nhanh" />
										</div>
										<p>Lộ trình học giúp bạn tăng điểm nhanh</p>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_600_tu_vung.png"
												alt="600 từ vựng TOEIC &lt;br/&gt; thiết yếu" />
										</div>
										<p>600 từ vựng TOEIC <br /> thiết yếu</p>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_17_chu_diem_ngu_phap.png"
												alt="17 chủ điểm ngữ pháp quan trọng" />
										</div>
										<p>17 chủ điểm ngữ pháp quan trọng</p>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_meo_lam_bai_tap.png"
												alt="Mẹo làm bài TOEIC" />
										</div>
										<p>Mẹo làm bài TOEIC</p>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_ho_tro_nguoi_hoc_nhiet_tinh.png"
												alt="Hỗ trợ người học &lt;br/&gt; nhiệt tình" />
										</div>
										<p>Hỗ trợ người học <br /> nhiệt tình</p>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_hoc_cham_co_thuong.png"
												alt="Học chăm có thưởng" />
										</div>
										<p>Học chăm có thưởng</p>
									</div>
								</div>
								<div class="col-xs-6 col-md-3">
									<div class="function-item wow fadeInUp">
										<div class="photo"><img src="/static/RealEdu/images/index/icon_chinh_sach_cong_them_ngay_hoc.png"
												alt="Chính sách cộng thêm ngày học" />
										</div>
										<p>Chính sách cộng thêm ngày học</p>
									</div>
								</div>
							</div>
						</div><a class="link-dang-ki wow fadeInUp" href="/register" title="Đăng ký học thử miễn phí" data-toggle="modal"
							>Đăng ký học thử miễn phí</a>
					</div>
				</section>
				
				<section class="comments">
					<div class="container">
						<h2 class="sec-title wow fadeInUp">Nhận xét của người học</h2>
						<div class="wow fadeInUp">
							<div class="slick comments-slider" data-slick-slider>
								<div class="item" data-thumb="Người đi làm">
									<div class="comments-list">
										<div class="row">
											<div class="col-md-3">
												<div class="comments-item">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/dieulien_testimonial_avatar.png"
															alt="Ngô Thị Diệu Liên" />
														<div class="user-info">
															<p class="name">Ngô Thị Diệu Liên</p>
															<p class="job">Giáo viên cấp III - TP.HCM</p>
														</div>
														<p class="desc">Trước khi học mình cũng hơi lo vì tính mình nhanh chán nên chỉ sợ học được
															vài bữa lại bỏ. Nhưng khi học rồi thì mình thấy thích lắm. Chương trình đặt ra nhiều đích
															từ gần đến xa, tạo cảm giác rõ ràng và giúp người học có động lực để phấn đấu. Mình cũng
															thích bảng xếp hạng tuần nữa, nhìn vào đó mình luôn cố gắng để được lọt vào top.</p>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="comments-item">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/thedang_testimonial_avatar.png" alt="Mai Thế Đặng" />
														<div class="user-info">
															<p class="name">Mai Thế Đặng</p>
															<p class="job">Kỹ sư - Hà Nội</p>
														</div>
														<p class="desc">Trước khi học mình cũng khá lo vì không biết nên học từ đâu, học như thế
															nào. Điều tôi thích nhất là trang web đưa ra cho tôi lộ trình học hợp lý, giải thích tỉ mỉ
															các phần và cho tôi biết được mình nên học nhiều ở phần nào. Chương trình rất có ích cho
															những người vừa học vừa làm nên tôi cũng giới thiệu cho bạn bè học tập. Xin cảm ơn!</p>
													</div>
												</div>
											</div><a class="hidden-md hidden-lg" href="javascript:;" title="loadmore"
												data-load-more-cmt="data-load-more-cmt"><img
													src="/static/RealEdu/images/index/button_loadmore.png" alt="loadmore" /></a>
											<div class="col-md-3">
												<div class="comments-item hidden-mb">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/xuan_testimonial_avatar.png" alt="Nguyễn Thị Xuân" />
														<div class="user-info">
															<p class="name">Nguyễn Thị Xuân</p>
															<p class="job">Nhân viên kĩ thuật - Hải Dương</p>
														</div>
														<p class="desc">Học trên web rất tiện và mỗi phần ôn luyện đều có tính thời gian, tạo cảm
															giác sát với khi thi thật nên người học quen dần, phản ứng nhanh. Chị là người đi làm và
															đã có gia đình nên cũng khá hạn chế về thời gian, nên chị rất vui vì đã có Gia sư TOEIC
															giúp chị trong việc học.</p>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="comments-item hidden-mb">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/vuphuong_testimonial_avatar.png" alt="Vũ Phượng" />
														<div class="user-info">
															<p class="name">Vũ Phượng</p>
															<p class="job">Nhân viên văn phòng - TP.HCM</p>
														</div>
														<p class="desc">Mình gửi lời cảm ơn chân thành nhất đến Gia sư TOEIC nhé, mình rất vui với
															kết quả đạt được là 760 sau một tháng luyện trên trang. Mình cảm thấy chương trình học
															trên Gia sư TOEIC cực kì hay và hiệu quả luôn, ngoài ra mình luôn nhận được sự hỗ trợ vô
															cùng nhiệt tình và dễ thương từ các bạn ở đây. Mục tiêu tiếp theo của mình là 850 và mình
															nghĩ Gia sư TOEIC sẽ giúp mình đạt được điều đó.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item" data-thumb="Sinh viên học sinh">
									<div class="comments-list">
										<div class="row">
											<div class="col-md-3">
												<div class="comments-item">
													<div class="comments-inner"><img class="img-circle"
															src="static/RealEdu/images/index/giabao_testimonial_avatar.jpg" alt="Hồ Gia Bảo" />
														<div class="user-info">
															<p class="name">Hồ Gia Bảo</p>
															<p class="job">SV ĐH Thủ Dầu Một - Bình Dương</p>
														</div>
														<p class="desc">Mình ở vùng ngoại ô thành phố nên việc đi học TOEIC thật sự rất khó khăn. Từ
															khi biết đến Gia sư TOEIC, mình không cần phải đi xa nữa mà chỉ cần chăm chỉ học trên đây
															thôi. Điều mình thích nhất là việc chia bài luyện tâp theo cấp độ từ dễ đến khó, nên không
															gây ra tình trạng nản chí cho người học. Khi có vấn đề gì thắc mắc mình cứ email hỏi, các
															anh chị trả lời rất nhiệt tình và chi tiết.</p>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="comments-item">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/thuylinh_testimonial_avatar.jpg"
															alt="Nguyễn Thị Thuỳ Lĩnh" />
														<div class="user-info">
															<p class="name">Nguyễn Thị Thuỳ Lĩnh</p>
															<p class="job">SV ĐH Luật - TP.HCM</p>
														</div>
														<p class="desc">Mình đã thử học với trang Gia sư TOEIC được 2 tháng rồi, điểm đầu vào của
															mình là 280 và kỳ thi TOEIC vừa rồi mình được 620 điểm, vượt chỉ tiêu trường. Hiệu quả
															trang đem lại cho mình rất cao, đề luyện nhiều, mấy anh chị theo sát học viên nhắc nhở.
															Trang mình còn có giải thích đáp án nên rất tốt để cải thiện trong quá trình học.</p>
													</div>
												</div>
											</div><a class="hidden-md hidden-lg" href="javascript:;" title="loadmore"
												data-load-more-cmt="data-load-more-cmt"><img
													src="static/RealEdu/images/index/button_loadmore.png" alt="loadmore" /></a>
											<div class="col-md-3">
												<div class="comments-item hidden-mb">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/vanquang_testimonial_avatar.jpg"
															alt="Nguyễn Văn Quang" />
														<div class="user-info">
															<p class="name">Nguyễn Văn Quang</p>
															<p class="job">SV ĐH Quốc Tế - Hà Nội</p>
														</div>
														<p class="desc">Mình thấy rất hào hứng với giao diện và cách học mới này. Mình khá bận nên
															việc luyện tập các phần dựa trên lộ trình gợi ý của hệ thống giúp mình tiết kiệm được rất
															nhiều thời gian. Việc thực hành thường xuyên và linh hoạt về thời gian tạo cho mình một
															phản xạ tốt về cách làm bài thi TOEIC. Kết quả là mình đạt được 890 điểm. Cảm ơn Gia sư
															TOEIC nhiều!</p>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="comments-item hidden-mb">
													<div class="comments-inner"><img class="img-circle"
															src="/static/RealEdu/images/index/tutoan_testimonial_avatar.jpg" alt="Lê Tử Toàn" />
														<div class="user-info">
															<p class="name">Lê Tử Toàn</p>
															<p class="job">SV ĐH Kinh Tế - TP.HCM</p>
														</div>
														<p class="desc">Khi tự học mình sợ nhất là biết đáp án mà không biết tại sao lại chọn đáp án
															đó, nhưng khi luyện với Gia sư TOEIC thì mỗi câu luyện tập đều được dịch nghĩa, giải thích
															chi tiết, rõ ràng cho từng đáp án. Mình cảm thấy Gia sư TOEIC thật sự là một kênh luyện
															TOEIC có hệ thống và chất lượng không khác nhiều so với các lớp tiếng Anh mình theo học
															trước đây!</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item fb-comments" data-thumb="Nhận xét trên Facebook">
									<div class="comments-list-photo"><img class="img-responsive"
											src="/static/RealEdu/images/index/nhan_xet_1.png" alt="Nhận xét trên Facebook" /><img
											class="img-responsive" src="/static/RealEdu/images/index/nhan_xet_2.png"
											alt="Nhận xét trên Facebook" /><img class="img-responsive"
											src="/static/RealEdu/images/index/nhan_xet_3.png" alt="Nhận xét trên Facebook" /><img
											class="img-responsive" src="static/RealEdu/images/index/nhan_xet_4.png"
											alt="Nhận xét trên Facebook" />
									</div><a class="fb-comments-link" target="_blank"
										href="https://www.facebook.com/pg/giasutoeiconline/reviews/"
										title="Xem thêm nhận xét trên Facebook"><span class="fb-comments-icon"></span><span
											class="fb-text">Xem thêm nhận xét<br> trên Facebook</span></a>
								</div>
							</div>
						</div><a class="link-dang-ki wow fadeInUp" href="/register" title="Đăng ký học thử miễn phí" data-toggle="modal"
							>Đăng ký học thử miễn phí</a>
					</div>
				</section>
				
			</main>
			<button type="button" class="button-scrollTop">
				<span data-scroll-top class="icon icon-bt_up"></span>
			</button>
			<a href="javascript:;" title="go to top" class="go-top" id="top"></a>
		</article>
	<%include template/footer %>