<% include ./template/main_header %>
<% include ./template/main_top_navigation %>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row tile_count">

                </div>
                <!-- /top tiles -->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="color:red; text-align:center">
                        <h3>Kiểm tra tổng thể

                        </h3>
                    </div>

                </div>
                <br />





            </div>
            <!-- /page content -->

            <!-- footer content -->
<% include ./template/main_footer %>