<footer>
        <div id="bottom">
            <div class="container">
                <div data-footer-accordion class="footer-link">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item">
                                <h3 class="link-title active">• Về Gia sư TOEIC <span
                                        class="icon icon-bt_up hidden-md hidden-lg"></span></h3>
                                <div class="wrap-link show">
                                    <ul class="links">
                                        <li><a href="/about/?r=footer">Giới thiệu về Gia sư TOEIC</a></li>
                                        <li><a href="/jobs/?r=footer" title="Tuyển dụng">Tuyển dụng</a></li>
                                        <li><a href="/terms/?r=footer">Điều khoản sử dụng</a></li>
                                        <li><a href="/privacy-policy/?r=footer">Chính sách bảo mật</a></li>
                                        <li><a
                                                href="https://giasutoeic.com/huong-dan/chinh-sach-diem-thuong/?r=footer">Chính
                                                sách tặng điểm thưởng</a></li>
                                        <li><a href="https://giasutoeic.com/huong-dan/chinh-sach-bao-luu-cong-them-ngay-dung/?r=footer"
                                                title="Chiến sách cộng thêm ngày sử dụng">Chính sách bảo lưu & cộng
                                                thêm ngày sử dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item contact-block">
                                <h3 class="link-title">• Chăm sóc khách hàng <span
                                        class="icon icon-bt_up hidden-md hidden-lg"></span></h3>
                                <div class="wrap-link">
                                    <ul class="links">
                                        <li><a style="margin: 0; padding: 0;"
                                                href="/huong-dan/cach-hoc-tren-gia-su-toeic/?r=footer"
                                                title="Hướng dẫn cách học">Hướng dẫn cách học</a>
                                        </li>
                                        <li><a style="margin: 0; padding: 0;" href="/pay/?r=footer"
                                                title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a>
                                        </li>
                                        <li><a style="margin: 0; padding: 0;"
                                                href="/huong-dan/nhung-cau-hoi-thuong-gap-faq/?r=footer"
                                                title="Những câu hỏi thường gặp">Những câu hỏi thường gặp</a>
                                        </li>
                                    </ul>
                                    <p class="intro-text">Chúng tôi cam kết hỗ trợ bạn <span>tối đa (9am -
                                            9pm)</span></p>
                                    <ul class="links">
                                        <li><a href="javascript:;" title="0916 92 1419"><span
                                                    class="glyphicon glyphicon-earphone"></span> 0916 92 1419</a>
                                        </li>
                                        <li><a href="/contact/?r=footer" title="Gửi tin"><span
                                                    class="glyphicon glyphicon-edit"></span>Gửi tin</a>
                                        </li>
                                        <li><a href="javascript:;" title="support@giasutoeic.com"><span
                                                    class="glyphicon glyphicon-envelope"></span>
                                                support@giasutoeic.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item share-block">
                                <h3 class="link-title">• Kết nối <span
                                        class="icon icon-bt_up hidden-md hidden-lg"></span></h3>
                                <div class="wrap-link">
                                    <ul class="links" style="margin-bottom: 0;">
                                        <li style="width: 100%; margin: 0 0 10px;">
                                            <div class="fb-like" data-href="https://giasutoeic.com"
                                                data-layout="button_count" data-action="like" data-show-faces="true"
                                                data-share="true"></div>
                                        </li>
                                        <li><a href="https://facebook.com/giasutoeiconline"><img
                                                    src="/static/RealEdu/images/facebook_icon.png"
                                                    alt="Gia sư TOEIC Facebook Page"></a>
                                        </li>
                                        <li><a href="https://youtube.com/giasutoeiconline"><img
                                                    src="/static/RealEdu/images/youtube_icon.png"
                                                    alt="Gia sư TOEIC YouTube "></a>
                                        </li>
                                        <li><a href="https://plus.google.com/+Giasutoeiconline"><img
                                                    src="/static/RealEdu/images/googleplus_icon.png"
                                                    alt="Gia sư TOEIC Google+ Page"></a>
                                        </li>
                                    </ul>
                                    <p class="intro-text">Like Page để học tiếng Anh hàng ngày</p>
                                    <div class="fb-page" data-href="https://www.facebook.com/giasutoeiconline/"
                                        data-tabs="timeline" data-height="150" data-small-header="true"
                                        data-adapt-container-width="true" data-hide-cover="false"
                                        data-show-facepile="true">
                                        <div class="fb-xfbml-parse-ignore">
                                            <blockquote cite="https://www.facebook.com/giasutoeiconline/"><a
                                                    href="https://www.facebook.com/giasutoeiconline/">Gia sư
                                                    TOEIC</a></blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom2">
            <div class="container">
                <div>
                    <h3 style="text-align: center; color: #fff;">Tải ứng dụng Gia sư TOEIC</h3>
                    <ul>
                        <li style="display: inline-block; text-align: center;">
                            <a href="https://itunes.apple.com/app/apple-store/id1225028717?pt=118607244&ct=gst-footer&mt=8"
                                target="_blank" title="Kích để tải app cho iOS"
                                style="display: block; color: #fff; text-decoration: none;">
                                <img src="https://giasutoeic.com/static/RealEdu/images/appstore.png"
                                    alt="Ứng dụng Gia sư Toeic cho iOS" style="max-width: 160px;" />
                            </a>
                        </li>
                        <li style="display: inline-block; text-align: center;">
                            <a href="https://play.google.com/store/apps/details?id=com.h2tech.giasutoeic&referrer=utm_source%3Dgst%26utm_medium%3Dweb%26utm_campaign%3Dgst-footer"
                                target="_blank" title="Kích để tải app cho Android"
                                style="display: block; color: #fff;">
                                <img src="https://giasutoeic.com/static/RealEdu/images/googleplay.png"
                                    alt="Ứng dụng Gia sư Toeic cho Android" style=" max-width: 160px;" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-links" style="margin-top: 20px;">
                    <ul>
                        <li><a href="/thong-tin-toeic/?r=footer" title="Thông tin về kì thi TOEIC">Kì thi TOEIC</a>
                        </li>
                        <li><a href="/de-thi-toeic/?r=footer" title="Đề thi TOEIC">Đề thi TOEIC</a>
                        </li>
                        <li><a href="https://giasutoeic.com/de-thi-toeic/de-thi-toeic-kieu-moi-2018/?r=footer"
                                title="Đề thi TOEIC mới 2018">Đề thi TOEIC mới 2018</a>
                        </li>
                        <li><a href="/ngu-phap-tieng-anh/?r=footer" title="Ngữ pháp tiếng Anh">Ngữ pháp tiếng
                                Anh</a>
                        </li>
                        <li><a href="/600-tu-vung-toeic/?r=footer" title="600 từ vựng TOEIC">600 từ vựng TOEIC</a>
                        <li><a href="/tu-vung-tieng-anh/tu-vung-toeic-hay-gap-nhat/?r=footer"
                                title="Từ vựng TOEIC hay gặp nhất">Từ vựng TOEIC hay gặp nhất</a>
                        </li>
                        <li><a href="/luyen-nghe-toeic/?r=footer" title="Luyện nghe TOEIC">
                                Luyện nghe TOEIC
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-links" style="margin-top: 10px;">
                    <ul>
                        <li><a href="https://giasutoeic.com/tu-hoc-toeic/?r=footer" title="Tự học TOEIC">Tự học
                                TOEIC</a>
                        </li>
                        <li><a href="/luyen-thi-toeic/?r=footer" title="Cẩm nang luyện thi TOEIC">Cẩm nang luyện thi
                                TOEIC</a>
                        </li>
                        <li><a href="https://giasutoeic.com/meo-thi-toeic/?r=footer" title="Mẹo thi TOEIC">Mẹo thi
                                TOEIC</a>
                        </li>
                        <li><a href="/luyen-thi-toeic-cap-toc/?r=footer" title="Luyện thi TOEIC cấp tốc">
                                Luyện thi TOEIC cấp tốc</a>
                        </li>
                        <li><a href="https://giasutoeic.com/videos/?r=footer"
                                title="Thư viện video luyện thi TOEIC">
                                Thư viện videos
                            </a>
                        </li>
                        <li><a href="https://giasutoeic.com/sach-luyen-thi-toeic/?r=footer"
                                title="Sách luyện thi TOEIC">
                                Sách luyện thi TOEIC
                            </a>
                        </li>
                        <li><a href="https://giasutoeic.com/weekly-digest/?r=footer" title="Cập nhật hàng tuần">
                                Cập nhật hàng tuần
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-links" style="margin-top: 10px;">
                    <ul>
                        <li><a href='https://giasutoeic.com/hoc-tieng-anh/?r=footer' target="_blank">
                                Cẩm nang học tiếng Anh từ A - Z</a>
                        </li>
                        <li><a href='http://leerit.com/aff/gstoeic/' target="_blank">Học từ vựng tiếng Anh</a>
                        </li>
                        <li><a href="/tu-vung-tieng-anh-theo-chu-de/?r=footer"
                                title="Từ vựng tiếng Anh theo chủ đề">
                                Từ vựng tiếng Anh theo chủ đề</a>
                        </li>
                        <li>
                            <a href="/tu-hoc-tieng-anh-hieu-qua/?r=footer" title="Cách học tiếng Anh hiệu quả">
                                Học tiếng Anh hiệu quả</a>
                        </li>
                        <li><a href="/questions/?r=footer" title="Hỏi đáp tiếng Anh">
                                Hỏi đáp tiếng Anh
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-links" style="margin-top: 10px;">
                    <ul>
                        <li><a href="/tieng-anh-giao-tiep/cach-phat-am-tieng-anh-chuan/?r=footer"
                                title="Cách phát âm tiếng Anh chuẩn">
                                Cách phát âm tiếng Anh chuẩn
                            </a>
                        </li>
                        <li><a href="/tieng-anh-giao-tiep/cach-phat-am-s-es/?r=footer" title="Cách phát âm đuôi S">
                                Cách phát âm đuôi S
                            </a>
                        </li>
                        <li><a href="/tieng-anh-giao-tiep/cach-phat-am-ed/?r=footer" title="Cách phát âm đuôi ED">
                                Cách phát âm đuôi ED
                            </a>
                        </li>
                        <li><a href="/tieng-anh-giao-tiep/noi-am-trong-tieng-anh/?r=footer"
                                title="Nối âm trong tiếng Anh">
                                Nối âm trong tiếng Anh
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-links" style="margin-top: 10px;">
                    <ul>
                        <li><a href="/tieng-anh-giao-tiep/?r=footer" title="Giao tiếp Siêu tốc">
                                Học Tiếng Anh Giao tiếp
                            </a>
                        </li>
                        <li>
                            <a href="/tieng-anh-giao-tiep/gioi-thieu-ban-than-bang-tieng-anh/?r=footer"
                                title="Giới thiệu bản thân bằng tiếng Anh">
                                Giới thiệu bản thân bằng tiếng Anh</a>
                        </li>
                        <li>
                            <a href="/tieng-anh-giao-tiep/mau-cau-gioi-thieu-ban-than-bang-tieng-anh/?r=footer"
                                title="Mẫu câu giới thiệu bản thân bằng tiếng Anh">
                                Mẫu câu giới thiệu bản thân bằng tiếng Anh</a>
                        </li>
                        <li><br /></li>
                        <li>
                            <a href="/tieng-anh-giao-tiep/gioi-thieu-ban-than-bang-tieng-anh-phong-van/?r=footer"
                                title="Mẫu câu giới thiệu bản thân bằng tiếng Anh">
                                Giới thiệu bản thân bằng tiếng Anh khi phỏng vấn
                            </a>
                        </li>
                        <li>
                            <a href="/tieng-anh-giao-tiep/tra-loi-phong-van-tieng-anh/?r=footer"
                                title="Trả lời phỏng vấn bằng tiếng Anh">
                                Trả lời phỏng vấn bằng tiếng Anh
                            </a>
                        </li>
                        <li><a href="/tieng-anh-giao-tiep/tieng-anh-giao-tiep-trong-nha-hang/?r=footer"
                                title="Tiếng Anh nhà hàng">
                                Tiếng Anh nhà hàng
                            </a>
                        </li>
                        <li><a href="/ten-tieng-anh/?r=footer" title="Tên tiếng Anh">
                                Tên tiếng Anh
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title_footer">
                    &copy; 2015 - Công ty TNHH H2 Technology.
                    Cải thiện cuộc sống thông qua giáo dục – Improving lives through education.
                    <br />
                    <span>ĐT: 0916 92 1419</span>.
                    <span>Địa chỉ: ARC REAL Building, Số 1 Nguyễn Duy, P.3, Q. Bình Thạnh, Tp. HCM</span>.
                    <span>Đại diện: Ông Hoàng Hữu Hưng</span>
                    <p>
                        Giấy Chứng nhận đăng kí kinh doanh số 0313469985
                        do Sở Kế hoạch và Đầu tư thành phố Hồ Chí Minh cấp ngày 03/10/2015
                    </p>
                </div>
                <div class="bocongthuong">
                    <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=22192" target="_blank"
                        rel="nofollow">
                        <img src="/static/RealEdu/images/dathongbao_bocongthuong.png" alt="bộ công thương">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript"
    src="/static/libs/jquery-3.1.1_with_migrate-3.0.0_with_bootstrap3.3.7.min.js"></script>
<script type="text/javascript" src="/static/libs/jquery-ui/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="/static/RealEdu/js/template-1842100419.js"></script>
<script>
    var isMobileWeb = false;



    var isFixedMenu = false;

    var isHomePage = '/dashboard/' == '/' ? true : false;
</script>

<script>
    // this is deprecated: we no longer use tooltip notifications
    var showInstructions = false;

    var isMobileBrowser = false;



    var dialogContent = null;
    var dialogNotificationId = null;


    $(".view-all").on("click", function () {
        $("[data-load-toeic]").removeClass("hidden");
        $(this).hide();
    })
</script>
<script type="text/javascript" src="/static/libs/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/static/libs/slick/slick.min.js"></script>
<script type="text/javascript" src="/static/libs/chart.js"></script>
<script type="text/javascript" src="/static/libs/stickbar.js"></script>
<script type="text/javascript" src="/static/LearningPlan/js/dashboard-1842100419.js"></script>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: "956108007815000",
            cookie: true,    // enable cookies to allow the server to access the session
            status: true,  // Check Facebook Login status
            xfbml: true,    // parse social plugins on this page
            version: 'v2.12'
        });

        // do this checking to make sure that FB api is available 
        // a func named "callBackAfterFBInit" needs to be defined above this code 
        // => in the header js of the html that want to execute codes after fb init
        if (typeof callBackAfterFBInit == 'function') {
            callBackAfterFBInit();
        };


    };

    //Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "";
        js.async = true;
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));   
</script>

<script>
    (function () {
        // if firefox 3.5+, hide content till load (or 3 seconds) to prevent FOUT
        var d = document, e = d.documentElement, s = d.createElement('style');
        if (e.style.MozTransform === '') { // gecko 1.9.1 inference
            s.textContent = 'h1,h2{visibility:hidden}';
            var r = document.getElementsByTagName('script')[0];
            r.parentNode.insertBefore(s, r);
            function f() { s.parentNode && s.parentNode.removeChild(s); }
            addEventListener('load', f, false);
            setTimeout(f, 3000);
        }

    })();
</script>

<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        }; if (!f._fbq) f._fbq = n;
        n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '');

    fbq('init', '1621041464887282');
    fbq('track', "PageView");


    fbq('trackCustom', 'VisitedDashboard');

</script>
<noscript><img height="1" width="1" style="display:none"
        src="" /></noscript>

<noscript>
    <div class="nof">GiasuTOEIC.com works best with JavaScript enabled! To use standard view, enable JavaScript by
        changing your browser options, then try again.</div>
</noscript>
</body>

</html>