<div class="fb-register">
    <a class="btn-style fb-link"
        href="https://www.facebook.com/v2.12/dialog/oauth?client_id=956108007815000&amp;redirect_uri=https://giasutoeic.com/register/with-facebook/&amp;scope=email&amp;state=N1231253125213512"
        title="Đăng ký qua Facebook"><span class="link-icon"><i class="fa fa-facebook"></i></span><span
            class="link-text">Đăng ký qua Facebook</span></a>
</div>